@import "base";
@import "breakpoint";

.intro {
	aside {
		font: {
			family: Georgia, serif;
			style: italic;
		}
		color: $secondary-very-light;
		line-height: 1.3em;
	}
	
	@include breakpoint($narrow) {
		aside {
			display: none;
		}
	}
	@include breakpoint($medium) {
		aside {
			display: none;
		}
	}
	@include breakpoint($wide) {
		overflow: auto;
		min-height: 400px;
		aside {
			font: {
				family: Georgia, serif;
				style: italic;
			}
			color: $secondary-very-light;
			line-height: 1.3em;
			
			font-size: 75px;
			border-left: 3px solid $frame-bg;
			margin: {
				left: 50px;
				bottom: 50px;
				top: 50px;
			}
			padding: {
				left: 50px;
				right: 50px;
			}
		
			width: 40%;
			float: right;
		}
	}
}

.item {
	border-top: 5px solid $frame-bg;
	
	@include breakpoint($wide) {
		padding-top: 50px;
		
		&:nth-of-type(odd) .hook {
			text-align: right;
		}
		
		&:nth-of-type(even) .hook {
			text-align: left;
		}
	}
	
	&:nth-of-type(odd) .hook {
		color: $secondary-light;
	
		em {
			color: $primary;
			font-weight: bold;
		}
	}

	&:nth-of-type(even) .hook {
		color: $primary-light;
	
		em {
			color: $secondary;
			font-weight: bold;
		}
	}
}
