// Responsive Breakpoints
$narrow: max-width 400px;
$medium: (min-width 400px) (max-width 800px);
$wide: min-width 801px;


// Colors
$primary: #528496;
$primary-light: scale-lightness($primary, 35);
$primary-very-light: scale-lightness($primary, 70);
$primary-dark: scale-lightness($primary, -35);

$secondary: #fab417;
$secondary-light: scale-lightness($secondary, 35);
