---
layout: default
title: Custom Analytics Projects
description: Sophisticated, tailored analytics systems delivered by our team of expert data scientists and software developers.
---
<header class="global-header">
	<a href="/"><h1>EchoVantage</h1></a>
	<nav id="header-nav">
		<ul>
			<li>
				<a href="#audit">
				<i class="fa fa-search"></i>
				Analytics Audit
				</a>
			</li>
			<li>
				<a href="#projects">
				<i class="fa fa-bar-chart-o"></i>
				Custom Analytics Projects
				</a>
			</li>
			<li>
				<a href="#modeling">
				<i class="fa fa-sitemap"></i>
				Customer Modeling
				</a>
			</li>
			<li>
				<a href="#">
				<i class="fa fa-bullhorn"></i>
				Contact Us
				</a>
			</li>
		</ul>
	</nav>
</header>
{{ content }}
{% include footer.html %}