<footer>
	<div>
		<h3>Services</h3>
		<ul>
			<li><a href="/analytics-audit.html">Analytics Audits</a></li>
			<li><a href="/#modeling">Custom Analytics Projects</a></li>
			<li><a href="/collateral/EchoVantage-Customer-Modeling.pdf">Customer Lifecycle Modeling</a></li>
		</ul>
	</div>
	<div>
		<h3>Social</h3>
		<ul>
			<li><a href="http://www.linkedin.com/company/echovantage" target="_blank">LinkedIn</a></li>
			<li><a href="https://twitter.com/EchoVantage" target="_blank">Twitter</a></li>
			<li><a href="https://plus.google.com/+EchoVantage" target="_blank">Google+</a></li>
			<li><a href="https://www.facebook.com/echovantage" target="_blank">Facebook</a></li>
		</ul>
	</div>
	<div id="contact">
		<h3>Contact</h3>
		<div><a href="tel:+19726389303">972.638.9303</a></div>
		<div><a href="mailto:info@echovantage.com">info@echovantage.com</a></div>
		<div><a href="https://www.google.com/maps?q=2919+Commerce+St,+Dallas,+TX+75226&hl=en&sll=35.774605,-78.63539&sspn=0.082032,0.163937&hnear=2919+Commerce+St,+Dallas,+Texas+75226&t=m&z=16" target="_blank">2919 Commerce St.<br>Dallas, TX 75226</a></div>
	</div>
	<p id="copyright">&copy; 2013 EchoVantage, LLC</p>
</footer>